@import "tailwindcss";

body {
  margin: 0;
}

.sidebar-overlay {
  transition: opacity 0.3s ease;
}

html,
body {
  overflow-x: hidden;
}

.main-content {
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .main-content {
    padding-bottom: 0;
  }
}
